
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
#info {
  position: absolute;
  right:7px;
  bottom: 10px;
  padding: 2px;
  min-width:100px;
  background-color: #fff;
  /*text-align: center;*/
  border-radius: 5px 5px 5px 5px;
  z-index: 99;
  font:  12px  Helvetica, sans-serif;

}

#info table, th, td {
  border: 0px solid white;
}

#units {
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

body.tundra.dijitSliderImageHandleV {
	width: 12px;
	height: 12px;
	color: black;
}

.imgButton1{
box-shadow: 5px 5px 6px #888888; 
position: absolute;
top: 190px;
right: 7px;
z-index:98;
border-radius: 5px 5px 5px 5px;
border:0px !important;
border-color:#888888
}
 .imgButton2{
box-shadow: 5px 5px 6px #888888;
position: absolute;
top: 264px;
right: 7px;
z-index:98;
border-radius: 5px 5px 5px 5px;
}
.imgButton3{
box-shadow: 5px 5px 6px #888888;
position: absolute;
top: 339px;
right: 7px;
z-index:98;
border-radius: 5px 5px 5px 5px;
}

.imgButton3 img {
display: block;
vertical-align:top;
} 
}


html, body, #window, #map {
  height: 100%;
  margin: 0;
  font-family:  Helvetica, sans-serif;
}

#map{
  z-index:-1;
  width: 700px;
  position:absolute:
}

#map_root.containter{
  height:100%;
  z-index:-2;
}
#legend{
height:100%;
width:380px;
z-index: 10;
}

.test{
font-weight: bold;
}

#info2{
top:500px


}

.ieLink{
color: blue;
text-decoration:underline;
padding: 5px 0px 0px 0px;
}

.title {
  font-family:Segoe UI;
}
.curValue {
  font-family:Segoe UI;
  font-size:9pt;
  font-weight: bold;
}


.idLink{
  font-family:Segoe UI;
  font-size:10pt;
  font-weight: normal;
  padding: 7px 0px 7px 0px;
}

.sprtID {
  font-size: 11px;
  font-weight: normal;
  font-family: Segoe UI;
  padding: 3px 0px 3px 0px;
}

.selected{
  color: red;
}

.unselected{
  color: #222222
}

.infowindow .window .top .right .user .titlebar .hide .sprite:hover {
margin-left: -752px !important;
margin-top: -900px !important;
background-position-y: -7px !important;
background-position: 0 -7px !important;
cursor: pointer !important;
display: block !important;
}

.infowindow .window .top .right .user .titlebar .hide .sprite {
margin-left: -752px !important; 
margin-top: -900px !important;
background-position: 0 -7px !important;
background-position-y: -7px !important;
cursor: pointer !important;
display: block;
}

div#parcelTab.dijitContentPane {
  background-color: white !important;
  background: white;
  font-family: Segoe UI !important;
  height: 100px;
}


.tundra .dijitContentPane {
  background-color: #FDFDFA !important;
  background: white;
}

.user {
background-color: #f6f3e7 !important;
}


#box {
position:absolute;
font-family:  Helvetica, sans-serif;
color:white;
font-size: 20px;
font-weight: bold;
top: 7px;
left: 7px;
max-width: 84%;
max-height: 80px;

/*max-width: 80%*/
margin-left: auto;
margin-right: auto;

border-radius: 5px 5px 5px 5px;
z-index:99;
padding: 3px 7px 1px 7px !important;
margin: 0 0 0 0!important;
text-align:left;
white-space: wrap;
}

#box.container{
border-radius: 5px 5px 5px 5px;
box-shadow: 5px 5px 6px #888888;
background-color: #637851;
min-height: 20px;
display: table-cell;
vertical-align: middle;
}

#title{
display: inline-block;
vertical-align: middle;
line-height: normal;
}

.tundra .dijitTitlePaneTitle {
color:white;
background-color: #fff;
background: #f6f3e7;
}

.idBoxContentPane{
background-color: #DDDDDD;

}

.tPaneClosed.dijitTitlePane.dijitTitlePaneFocused.dijitFocused {
/*background-color: blue;*/
}


/* NEW */
.tPaneOpened{

  position: absolute; 
  width: 430px;

  margin-top:0px;
  top: 70px;
  left:7px;
  border-radius: 5px 5px 5px 5px;
  z-index:110;
  border-radius: 5px 5px 5px 5px;
box-shadow: 5px 5px 6px #888888;
background-color: white;


}
.info2Opened{
position:absolute;
width:390px;
height:385px;
  margin-top:0px;
  top: 480px;
  left:7px;
  border-radius: 5px 5px 5px 5px;
  z-index:114;
  border-radius: 5px 5px 5px 5px;
box-shadow: 5px 5px 6px #888888;
background-color: white;

}
.info2Closed{
position:absolute;
top:480px;
  left:7px;
width: 180px;
height:25px;
  z-index:114;
  border-radius: 5px 5px 5px 5px;
box-shadow: 5px 5px 6px #888888;
}
#tPane {
}

.tPaneClosed {
position:absolute;
top:70px;
  left:7px;
width: 180px;
height:25px;
  z-index:110;
  border-radius: 5px 5px 5px 5px;
box-shadow: 5px 5px 6px #888888;
background-color: white;
}


.dgrid {
 height: 9em; 
 overflow: auto; 
 font-size: 11px
}

.accordContainer{
height: 100%;
 width: 100%;
 z-Index:15;
}

.cPane{
height:100%;
width:100%;
}


 .tundra .dijitAccordionTitle{
padding-left: 15px;
background-color:#f6f3e7;
background: #FDFDFA;
}

.tundra .dijitAccordionInnerContainer {
background-color: #37432E !important;
}

/* END NEW */
.tundra .dijitTitlePaneContentInner {
padding: 0px !important;
}

 .dijitTabListWrapper {
    height: 1px;
    }
    
.dijitTabListContainer-top {
  height: 0px;
}

.tundra  .dijitAccordionArrow {
    background:#fff url("http://js.arcgis.com/3.9/js/dojo/dijit/themes/tundra/images/spriteArrows.png") no-repeat -14px top;
    width:7px;
    height:8px;
    margin-top:-1px;
}

.tundra  .dijitAccordionTitleSelected .dijitAccordionArrow {
    background:url("http://js.arcgis.com/3.9/js/dojo/dijit/themes/tundra/images/spriteArrows.png") no-repeat;
    margin-top:-1px;
}
    
.tundra .dijitTooltipContainer {
background-color: #37432E ;
}



.dojoxGridScrollbox {
 background-color: #FDFDFA;
}

.dojoxGrid{
font-family:  Helvetica, sans-serif;
}

.dojoxGridContent{
  overflow:visible!important;      /* make sure that the layer chooser row is visible when toggles between bold/regular font styles*/
  width: auto !important;
  color: #37432E;
}

.dojoxGridRowTable {
  width:100%;
}
.dojoxGridRow {
  padding-left:7px;
  width: auto;
  padding-right:0px;
}


.dojoxGridCell {
  width:100%!important;

}

.dojoxGrid .dojoxGridCell {
padding: 5px 0px 5px 3px !important;

}
.dojoxGridRowOdd {
background-color:#fff;

}

.dojoxGridRow tr {
  background-color: #fff;

  font-size:11px;
  border: white;
}

.dojoxGridRow tr:hover td {
  color: #2F4F4F !important;
}

.dojoxGridRow tr:active td {
  background-color: white !important;
  color: #2F4F4F !important;
}

.dojoxGridRow tr.active td {
  background-color: white !important;
  color: #2F4F4F !important;
}

.tundra .dojoxGridRowSelected  {
  font-weight:bold; 
  font-size: 11px;
  /*background-color:#FF8585!important;*/
  background-color:#637851!important;
  /*box-shadow: 5px 5px 6px #888888;*/
}

.dojoxGridRow .dojoxGridRowSelected  {
    font-weight:bold;
    font-size: 11px;
    /*box-shadow: 5px 5px 6px #888888;*/
}

.dijitTitlePaneTextNode {
  font-family:  Helvetica, sans-serif;
  font-size: 15px;
  color: #37432E;
  font-weight: bold;
}

.dijitAccordionText {
  font-family:  Helvetica, sans-serif;
  font-size: 12px;
  color: #37432E;
}

#test2_button_title.dijitAccordionText {
 
}






.tundra .infowindow .sprite{
  background-image: url("../Images/infoWindow.png") !important;
}

.infowindow .window {
z-Index: 15;
} 

.infowindow .window .top .right .user .titlebar .hide .sprite:hover {
margin-left: -752px !important;
margin-top: -900px !important;
background-position-y: -7px !important;
background-position: 0 -7px !important;
cursor: pointer !important;
display: block !important;
}

.infowindow .window .top .right .user .titlebar .hide .sprite {
margin-left: -752px !important; 
margin-top: -900px !important;
background-position: 0 -7px !important;
background-position-y: -7px !important;
cursor: pointer !important;
display: block;
}


.topButton {
border-radius: 5px 5px 5px 5px;
box-shadow: 5px 5px 6px #888888;
background-color: #637851;

}


.topButton .dijitButtonNode {
padding: 0 0 0 0 !important;
margin: 0 0 0 0!important;
}
#print {
border-top-width: 0px !important;
position:absolute;
font-family:  Helvetica, sans-serif;
color:white;
right:53px;
border-radius: 5px 5px 5px 5px;
z-index:99;

padding-top: 0px;
padding-bottom: 0px;
padding-right:2px;
padding-left:2px;
top: 8px;
box-shadow: 5px 5px 6px #888888 !important; 
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

span.dijit.dijitReset.dijitInline.dijitDropDownButton {
border-top-width: 0px !important;
padding-top:0px;
padding-bottom:1px;
margin: 0 0 0 3px !important;

}
span.dijitReset.dijitInline.dijitButtonNode{
border: 0px;
border-top-width: 0px !important;
padding-top:0px;
margin:0 0 0 0;
background: transparent;
}

.tundra .dijitArrowButtonInner {
  background: url("../Images/spriteArrows.png") no-repeat scroll 0 center;
}

#help {
position:absolute;
font-family:  Helvetica, sans-serif;
color:white;
right:7px;
border-radius: 5px 5px 5px 5px;
z-index:99;
padding: 2px 3px 1.4px 3px !important;
margin: 0 0 0 0!important;
top: 8px;
}

#helpImage {
  position: absolute;
  left: 50%;
}    

.showHelp {
  visibility: visible;  
}
.hideHelp {
  visibility: hidden;
}





 #hyperL{
  position:	absolute;
  right: 50px;
  top: 80px;
  height: 20px;
  z-index:100;
  font-size:14px;
  color: black;
  font-family:  Helvetica, sans-serif;
  font-weight: 900;
  text-shadow: 
    1px 1px 1px #FFFFFF,
    -1px 1px 1px #FFFFFF,
    -1px -1px 1px #FFFFFF,
    1px -1px 1px #FFFFFF;    
}
.hideHyper  {
  display: none;
}



#info {
  position: absolute;
  right:7px;
  bottom: 20px;
  padding: 2px;
  min-width:100px;
  background-color: #fff;
  /*text-align: center;*/
  border-radius: 5px 5px 5px 5px;
  z-index: 99;
  font: 12px  Helvetica, sans-serif;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 5px 5px 6px #888888;
}

#info table, th, td {
  border: 0px solid white;
}

#units {
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

body.tundra.dijitSliderImageHandleV {
	width: 12px;
	height: 12px;
	color: black;
}

.imgButton1{
box-shadow: 5px 5px 6px #888888; 
position: absolute;
top: 137px;  
height:37px;
width:37px;   
right: 16px;
z-index:98;
border-radius: 5px 5px 5px 5px;
border:0px !important;
border-color:#888888
}
 .imgButton2{
box-shadow: 5px 5px 6px #888888;
position: absolute;
top: 135px;
height: 35px;
width: 35px;
right: 30px;
z-index:98;
border-radius: 5px 5px 5px 5px;
}
.imgButton3{
box-shadow: 5px 5px 6px #888888;
position: absolute;
top: 319px;
right: 7px;
z-index:98;
border-radius: 5px 5px 5px 5px;
}

.imgButton3 img {
display: block;
vertical-align:top;
}


/*
.imgButton1{
box-shadow: 5px 5px 6px #888888; 
position: absolute;
top: 225px;     
right: 7px;
z-index:98;
border-radius: 5px 5px 5px 5px;
border:0px !important;
border-color:#888888
}
 .imgButton2{
box-shadow: 5px 5px 6px #888888;
position: absolute;
top: 282px;
right: 7px;
z-index:98;
border-radius: 5px 5px 5px 5px;
}
.imgButton3{
box-shadow: 5px 5px 6px #888888;
position: absolute;
top: 339px;
right: 7px;
z-index:98;
border-radius: 5px 5px 5px 5px;
}

.imgButton3 img {
display: block;
vertical-align:top;
}
*/

.clickMapHelp {
  position: absolute;
  left: 7px;
  bottom: 10px;
  font: 12px  Helvetica, sans-serif;
  color: #00478F;
  z-index:100;
}

.censusId {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font: 11px  Helvetica, sans-serif;
  color: #00478F;
}

.loadVisible{
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-110px;
  z-index:120;
}


.loadHidden {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-110px;
  z-index:-3;
}

/*
#Progress span {
  left: 5px;
  color:white;
  font: bold 15px  Helvetica, sans-serif;
  letter-spacing: 1px;
  //background:rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  padding-right:14px;
  padding-left:13px;
  padding-bottom:1px;
  width: 100%;
  height:200%
}
*/



.refreshVisibleL {
  left: 5px;
  color:white;
  font: bold 15px  Helvetica, sans-serif;
  letter-spacing: 1px;
  //background:rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  padding-right:15px;
  padding-left:15px;
  padding-bottom:1px;
  position:absolute;
  top:-7px;
  left:10px;
   visibility: visible;
   z-index: 112;
}


.refreshVisibleP {
  left: 5px;
  color:white;
  font: bold 15px  Helvetica, sans-serif;
  letter-spacing: 1px;
  //background:rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  padding-right:9px;
  padding-left:10px;
  padding-bottom:1px;
  position:absolute;
  top:-7px;
  left:10px;
   visibility: visible;
   z-index: 112;
}

.refreshHidden {
   position: relative; 
   top: -52px; 
   margin-left: 9px; 
   width: 100%;
   height: 300%;
   visibility: hidden;
   z-index: -3;
}




#notesBox {
  position: absolute;
  left:7px;
  bottom: 10px;
}
.hideNotes {
visibility: hidden;
}

.showNotes {
  visibility: visible;
  font-size: 11px;
}

.infowindow {
  z-index: 119;
}



   .dojoxGridHeader  { 
	  display:none; 
	  }

       #mask{
       position:absolute;
       top: 35px;
       right:115px;
       z-index: 99;
       }
      
      .invisibility{
        visibility:hidden;
      }
        
      .visiblility {
        visibility: visibility;
      }
      
      
    #zoom {
    position:absolute;
    font-family:  Helvetica, sans-serif;
    color:white;
    top:8px;
    right:130px;
    border-radius: 5px 5px 5px 5px;
    z-index:99;
    padding: 0px 3px 0px 3px !important;
    margin: 0 0 0 0!important;
    z-index: 99;
    }
    
       
    .dijitPopup.dijitMenuPopup {
        height:80% !important;
    }
    
    #zoombt{
    position:absolute;
    font-family:  Helvetica, sans-serif;
    color:white;
    z-index:99;
    margin: 0 0 0 0!important;
    z-index: 99;
    background-color: #637851;
    }